







.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient {
    color: #fff;
    font-size: 50px;
    background: linear-gradient(to right, #d00, rgb(48, 48, 240), #909, #dd0, #fd0, #090);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 100% auto;
    animation: shine 3s infinite;
}

@keyframes shine {
    0% {
        background-position: 200% center;
        transform: scale(1);
    }
    50% {
        background-position: 100% center;
        transform: scale(1.5);
    }
    100% {
        background-position: 200% center;
        transform: scale(1);
    }
}